	body {
			background: url(../img/login.jpg);
			margin-top: 15%;
			padding: 0;
		}
	#loginBox {
			width: 13%;
			margin: 0 auto;
		}
	.form-group {
			margin-top: 0;
		}
	h3 {
			text-align: center;
		}
	.img-logo {
			margin-bottom: 30px;
		}